.App {
  background-color: #263849;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  height: 100vh;
  width: 100%;
}

.close {
  color: #0d6efd;
}

.close:hover {
  /* color: #48ff7c !important; */
  color: #ff5454 !important;
}

.close:hover::after {
  position: absolute;
  top: 70%;
  content: "Delete";
  font-weight: 600;
  font-size: large;
}
.link {
  color: #fff;
}
.link:hover {
  color: #0d6efd;
}
.registration:hover {
  background-color: #0d6efd;
  color: white;
}
.dropdown-menu {
  --bs-dropdown-min-width: 150px !important;
}
.dropdown-menu[data-bs-popper] {
  right: 0 !important;
  left: auto !important;
}
.form-control {
  box-shadow: none !important;
}
@media (max-width: 450px) {
  .close {
    position: absolute;
    left: -4% !important;
    top: -8% !important;
    border-radius: 50px !important;
  }
  .close:hover::after {
    content: "";
  }
}
@media (max-width: 575px) {
  .close {
    position: absolute;
    left: -1%;
    top: 0;
    border-radius: 50px !important;
  }
  .close:hover::after {
    content: "";
  }
}
