.App {
  background-color: #282828;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  width: 100%;
}

@media (max-width: 780px) {
  .close {
    /* Your custom styles here */
    position: absolute;
    top: -10%;
    right: -5%;
    height: 25px !important;
    width: 25px !important;
    border-radius: 50px !important;
    color: red; /* Example style */
  }
}
